<div class="index-container">

  <div class="banner-index" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('<%= image_path('bar.jpg') %>')">
    <div class="banner-content">
      <h1>COCKTAIL LIST</h1>
      <p>Choose your favourite cocktail from the list.</p>

      <div class="mid-container">

        <div>
          <% @cocktails.each do |cocktail| %>
          <div class="mid-inside">
            <div class="cocktail"><%= cocktail.name %></div>
            <div class="show"><%= link_to 'Show', cocktail, class: "btn btn-success btn-xs" %>
            </div>
          </div>
          <% end %>
        </div>
      </div>

      <br>
      <br>
      <br>

      <%= link_to 'New Cocktail', new_cocktail_path, class: "btn btn-warning" %>

    </div>

  </div>
